<nav class="navbar bg-dark">
  <div class=" container container-fluid mt-2 mb-2">
    <a class="text-light navbar-brand" href="#">
      <div style="display: flex;">
        <h1>Mini ecommerce</h1>
        <div style="display: flex;" class="form-check" *ngFor="let item of categories; let i = index ">
          <input type="checkbox" class="btn-check" id="btncheck{{i+1}}" [value]="item.name" (click)="verificar(item.name)"/>
          <label class="btn btn-outline-primary" for="btncheck{{i+1}}">{{item.name}}</label>
        </div>
      </div>
    </a>
  </div>
</nav>
<div class="container">
  <ul class="nav nav-underline" >
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="" [ngStyle]="{'color':changeColorText()}">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about" [ngStyle]="{'color':changeColorText()}" >About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cart" [ngStyle]="{'color':changeColorText()}" >Cart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login" aria-disabled="true" [ngStyle]="{'color':changeColorText()}" >Login</a>
    </li>
  </ul>
</div>


