.form {
  width: 100%;
  height: 50%;
  margin: 0rem 0rem;
  padding: 3rem;
  align-self: center;
  border-radius: 25px;

}

.contenedor-login{
  width: max-content;
  margin-top: 15px;
  border-radius: 2%;
  align-items: center;
}

.input-group {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 4px;
  padding: 10px;
  width: 100%;
  border: none;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 7px !important;
}

label {
  font-size: 12px;
  font-weight: 600;
}

button {
  margin-top: 2rem;
  height: 46px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

input:required:valid {
  border: 2px solid #86ec86;
}

/* input:required:invalid {
  border: 2px solid rgb(241, 98, 98);
} */

 /* input:required:invalid+label {
  color: red;
} */

.input-group {
  display: flex;
}

.input-group input {
  order: 2;
}

.input-group label {
  order: 1;
}

input:required:valid+label {
  color: rgb(134, 236, 134);
}

.input-group {
  display: flex;
}

.input-group input {
  order: 2;
}

.input-group label {
  order: 1;
}

@media screen and (min-width: 43em) {
  .form {
    width: 34em;
    height: 800px;
    padding: 5rem;
    align-self: center;
    border-radius: 25px;

  }
}
