<app-navbar></app-navbar>
<div class="container contenedor-login" style="display: flex; justify-content: center;">
  <img style="width: 50%; height: 50%;" src="../../../assets/imagenLogin.jpg" alt="login">
  <form (ngSubmit)="loginUser()" #myForm="ngForm" class="form">
    <h1 style="text-align: center; font-size: 45px;">Login</h1>
    <div class="input-group">
      <input type="text" required name="gmail" id="gmail" [(ngModel)]="login[0].gmail"
        [ngStyle]="{'border': messageError.error}" />
      <label for="gmail" [ngStyle]="{'color': messageError.red}">Gmail</label>
    </div>
    <div class="input-group">
      <input type="password" required name="password" id="password" [(ngModel)]="login[0].password"
        [ngStyle]="{'border': messageError.error }" />
      <label for="password" [ngStyle]="{'color': messageError.red}">Password</label>
    </div>
    <p style="text-align: center;" [ngStyle]="{'color': messageError.red}">{{messageError.message}}</p>
    <button class="btn btn btn-success" [disabled]="myForm.invalid" type="submit">Login</button>
    <br>
    <p class="mt-4">Fogert password?</p>
    <button class="btn" type="submit">Sing up</button>
  </form>
</div>
