<app-navbar></app-navbar>
<div class="container" style="display: flex; justify-content: center;">
  <form (ngSubmit)="loginUser()" #myForm="ngForm" class="form">
    <h1 style="text-align: center;">Login</h1>
    <div class="input-group">
      <input type="text" required name="gmail" id="gmail" [(ngModel)]="login[0].gmail" [ngStyle]="{'border': error}" />
      <label for="gmail" [ngStyle]="{'color': red}">Gmail</label>
    </div>
    <div class="input-group">
      <input type="password"  required name="password" id="password" [(ngModel)]="login[0].password"
        [ngStyle]="{'border': error}" />
      <label for="password" [ngStyle]="{'color': red}">Password</label>
    </div>
    <p style="text-align: center;" [ngStyle]="{'color': red}">{{message}}</p>
    <button class="btn btn btn-success" [disabled]="myForm.invalid" type="submit">Login</button>
    <br>
    <p *ngclass="mt-4">Fogert password?</p>
    <button class="btn" type="submit">Sing up</button>
  </form>
</div>
