<app-navbar></app-navbar>
<div class="container mt-4">

  <div class="card mb-3 " >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{product[0].imagen}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">{{product[0].nombre}}</h1>
          <h2 class="card-text">$ {{product[0].precio}}</h2>
          <p class="card-text">Available: {{product[0].cantidad}}</p>
          <h3>Specifications</h3>
          <ul class="list-group list-group-flush" style="width: 45%;">
            <li class="list-group-item">Color: {{product[0].detalle.Color}} </li>
            <li class="list-group-item">Marca: {{product[0].detalle.Marca}} </li>
            <li class="list-group-item">Garantia {{product[0].detalle.Garantia}}</li>
          </ul>
          <p>{{product[0].descripcion}}</p>
          <app-bottom-cart  [product]="product" ></app-bottom-cart>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
