<app-navbar></app-navbar>
<div class="container mt-4">
  <section style="display: flex; flex-direction: column; align-items: center;" *ngIf="statusDetail === 'error'; else elseBlock">
    <img src="../../../assets/noFound.png" style="width: 400px; align-items: center;" alt="svg" />
    <p>Producto no encontrado</p>
  </section>
  <!--Inicio contenedor de detalle bootstrap-->
  <ng-template #elseBlock>
    <h1>Details Products</h1>
    <div class=" mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{product.image}}" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">{{product.name}}</h1>
            <h2 class="card-text">{{product.price | currency}}</h2>
            <p class="card-text">Available: {{product.quantity}}</p>
            <h3>Specifications</h3>
            <ul class="list-group list-group-flush" style="width: 45%;">
              <li class="list-group-item">Color: {{product.detail.color}} </li>
              <li class="list-group-item">Drand: {{product.detail.drand}} </li>
              <li class="list-group-item">Warranty {{product.detail.warranty}}</li>
            </ul>
            <p>{{product.description}}</p>
            <app-bottom-cart [product]="product"></app-bottom-cart>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!--Fin contenedor de detalle bootstrap-->
</div>
