<nav class="navbar" style="box-shadow: -1px 0px 7px;">
  <div class=" container container-fluid mt-2 mb-2">
    <div style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
      <button (click)='toggeMenu()' class="btn gb-dark toggle-menu"><svg xmlns="http://www.w3.org/2000/svg"
          height="24px" viewBox="0 0 448 512">
          <style>
            svg {
              fill: #ffffff
            }
          </style>
          <path
            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
        </svg></button>
      <div style="display: flex;">
        <img src="../../../assets/icono.jpg" alt="imagen"
          style="width: 50px; border-radius: 15px; margin-right: 10px;" />
        <a class="text-light navbar-brand" routerLink="">
          <h2 style="margin: 0px !important; color: black;">Code Markeplace</h2>
        </a>
      </div>
      <div style="display: flex; align-items: center;">
        <div *ngIf="showProfile!== null; else elseBlock">
          <div style="width: 100%;">
          </div>
          <button (click)="logout()" type="button">logout</button>
        </div>
        <ng-template #elseBlock>
          <a href="/login">
            <i class="fa-solid fa-user" style="color: black; text-align: end;"></i>
          </a>
        </ng-template>
        <a href="cart">
          <i class="fa-solid fa-cart-shopping" style="color: black; text-align: end; padding: 20px;"></i>
        </a>
      </div>
    </div>
  </div>
</nav>

<!--Menu slide-->
<div class="slide-menu" [class.active]="activeMenu">
  <button (click)='toggeMenu()' class="btn btn-success mb-4" style="width: max-content;">Cerrar</button>
  <div style="display: flex; width: 50%;" class="form-check mt-2" *ngFor="let item of categories; let i = index ">
    <input type="checkbox" class="btn-check" id="btncheck{{i+1}}" [value]="item.name"
      (click)="selectedProduct(item.name)" />
    <label style="color: white;" class="btn btn-outline-primary" for="btncheck{{i+1}}">{{item.name}}</label>
  </div>
</div>
<!--Menu slide-->
