<div  class="card-product" style="text-align: center;">
  <a [routerLink]="['/product',product.idproducto]">
    <div class="container-cover">
      <img class="card-img-top imagen-card" [src]="product.image" alt="mg" />
    </div>
  </a>
  <section class="mt-4 pb-2 card-body">
    <h6 class="card-title">{{product.name}}</h6>
    <p class="card-text card-price">{{product.price | currency}}</p>
    <a class="card-text card-detail" routerLink='/code-marketplace' [queryParams]="{product: product.idproducto}"
      style="text-decoration: none;">
      Show</a>
  </section>
</div>
