<app-navbar (evento)="leakedProducts($event)"></app-navbar>
<div class="container">
  <p class="mt-4">Todat: {{today | date}}</p>
  <app-search (EventSearch)="leakedProducts($event)"></app-search>
  <div *ngIf="productsFiltros.length===0" class="contenedor-grid">
    <app-product [product]="product" *ngFor="let product of product"></app-product>
  </div>
  <div *ngIf="productsFiltros.length>0" class="contenedor-grid">
    <app-product [product]="product" *ngFor="let product of productsFiltros"></app-product>
  </div>
</div>
