<main class="container" style="margin-top: 25px;">
  <div style="display: flex;">
    <aside style="width: 200px; margin-right: 25px;">
      <app-search style="display: flex; justify-content: flex-end;" (EventSearch)="leakedProducts($event)"></app-search>
      <app-checkbox (evento)="leakedProducts($event)"></app-checkbox>
    </aside>
    <section style="padding-left: 25px;">
      <app-item-detail [productId]="productId"></app-item-detail>
      <h1>{{title |uppercase}}</h1>
      <hr>
      <div *ngIf="productFiltrado.length === 0" class="contenedor-grid">
        <app-product [product]="product" *ngFor="let product of product"></app-product>
      </div   >
      <div *ngIf="productFiltrado.length > 0" class="contenedor-grid">
        <app-product [product]="product" *ngFor="let product of productFiltrado"></app-product>
      </div>
    </section>
  </div>
</main>
